test.db
/__pycache__/

/.pytest_cache/

/books/

/.venv/

/todoapp/__pycache__/

/todoapp/.pytest_cache/

/todoapp/alembic/__pycache__/

/todoapp/routers/__pycache__/

/todoapp/test/__pycache__/

/todoapp/todo.db